body{
    background-color: black;
    color: white;
}
header{
    display: flex;
    flex-wrap: wrap;
}
.tete{
    position: relative;
    background-color: white;
    border-radius: 10px;
    width: 120px;
    padding: 1em;
}
.tete:hover{
    background-color: #031e52;
}
.image{
    width: 90px;
    position: absolute;
    right: 85px;
    top: 2px;

}
span{
    color: #0a63f2;
}
h1{
    margin: 0;
}
.navbar{
    background:#031e52;
    border-radius: 10px;
    color:white;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    width:100%;
    transition:1.4s;
}
.navbar ul{
    justify-content:end;
    display: flex;
    flex-wrap: wrap;
}

.logo{
    font-size:28px;
    color: black;

}

.menu{
    list-style:none;
}
.menu li{
    margin-right: 100px;
    margin-bottom: 20px;
}
.menu a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

.menu a:hover{
    background:white;
    color:#1e293b;
    padding:10px;
    border-radius:5px;
}

input{
    border-radius: 20px;
    height: 40px;
    width: 300px;
    background-color: black;
    color: white;
    padding-left: 20px;
}
.recherche{
    position:relative;
    margin-bottom: 20px;
    border: 2px #032c77 solid;
    color: white;
}
.recherche:hover{
    background-color: white;
    color: black;
}
li i{
    position: absolute;
    left: 270px;
    top: 50%;
    transform: translateY(-50%);
}
.corps{
    flex: 1;
    background-color:black;
    padding-top: 50px;
    overflow-y: scroll;
}
.ligne1{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
    justify-content: center;
}
.video1{
    border: 2px #1e293b solid;
    border-radius: 30px;
    width: 400px;
    height: 250px;
    overflow: hidden;
}
.video1:hover{
    transform: translateY(-8px);
    border: 2px rgb(85, 82, 82) solid;
     transition: 0.8s;
}
video{
    width:100%;
    height:200px;
    overflow: hidden;
}
/*Flouter la video sur le preview*/
.preview-video{
    filter:blur;
    transition: filter 0.3s ease;
    width: 100%;
}
.preview-video:hover{
    filter: blur(0);
}

.texte{
    background-color: rgb(43, 42, 42);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 190px;
    padding: 0 2em;
    button{
        background-color: transparent;
        font-size: 1.5em;
        color: white;
        border: none;
    }
}
button:hover{
    color: #031e52;
}
.pied{
    background-color: #031e52;
    width: 100%;
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
}
